$default-background: #d3d3d3;

body {
    height: 100%;
    background-color: $default-background;
}

.App {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}
